*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: aqua;
}

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white
}

.header-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center; /*allineare testo a logo*/
}

main{
    margin: 50px 250px 10px;
    padding: 100px 50px 5px;
    height: 750px;
    background-color: #be5353;
}

.main-container{
    padding: 5px 25px 150px;
    background-color: darkorange;
}

.second-container{
    background-color: lightgreen;
    padding-left: 25px;
}

.bottons{
    background-color: plum;
    margin-top: 10px;
    height: 50px;
    padding-top: 20px;
    padding-left: 0;
}

.botton1{
    background-color: aqua;
    height: 10px;
    width: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.botton2{
    background-color: white;
    height: 10px;
    width: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid lightgrey;
}

.options{
    font: optional;
}

.option-new-task{
    font-size: 25px;
}

.triangle{
    font-size: medium;
}