*{
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-title{
    font-family: ;
    font-size: 40px;
    font-weight: bold;
    text-align: center; /*allineare testo a logo*/
}

main{
    background-color: #cecece;
}